<!-- File: app/templates/main/base.html -->
<!-- Author: Laura Sanz Lobo -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Solensur{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/base.css') }}">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Flatpickr in Spanish -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

    <link rel="manifest" href="{{ url_for('static', filename=manifest_file) }}">
    <meta name="theme-color" content="#f59e0b">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename=mobile_icon_file) }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/real.ico') }}" type="image/x-icon">
    {% block extra_styles %}{% endblock %}
</head>
<body data-worker_type="{{ worker_type }}">

    <header>
      <div class="header-inner{% if logo_header %} logo-header{% endif %}">
    
        {# — Back / Close button — #}
        {% if request.endpoint != 'auth.login' %}
          {% if request.endpoint == 'main.register' %}
            <a href="{{ url_for('auth.logout') }}" class="btn-back">Cerrar<br>sesión</a>
          {% elif request.endpoint in [
                  'admin.user_list', 'admin.user_list_filter', 'admin.admin_holidays',
                  'admin.admin_sites','admin.manage_hours','admin.admin_email', 'admin.manage_schedules'] %}
            <a href="{{ url_for('admin.admin_panel') }}" class="btn-back">Atrás</a>

          {% elif request.endpoint == 'admin.admin_panel' %}
              <a href="{{ url_for('main.register') }}" class="btn-back">Atrás</a>

          {% elif request.endpoint == 'main.select_month' %}
              {% if request.args.get('origin') == 'admin' %}
                  <a href="{{ url_for('admin.user_list') }}" class="btn-back">Atrás</a>
              {% else %}
                  <a href="{{ url_for('main.register') }}" class="btn-back">Atrás</a>
              {% endif %}

          {% elif request.endpoint == 'main.view_pdf' %}
              <a href="javascript:history.back()" class="btn-back">Atrás</a>

          {% elif request.endpoint in ['admin.create_user', 'admin.edit_user'] %}
            <a href="{{ url_for('admin.user_list') }}" class="btn-back">Atrás</a>
          {% elif request.endpoint in ['admin.edit_user_schedule', 'admin.configure_template'] %}
            <a href="{{ url_for('admin.manage_schedules', week=(week_input_value or week_url)) }}" class="btn-back">Atrás</a>
          {% else %}
            <a href="javascript:history.back()" class="btn-back">Atrás</a>
          {% endif %}
        {% endif %}
    
        {# — Logo or Title — #}
        <div class="header-title">
          <h1>{% block header %}Título de la página{% endblock %}</h1>
        </div>
    
      </div>
    </header>

    {% block content %}{% endblock %}
    
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const autofill = (window.AUTOFILL_TIME === true); // default false

        // Date fields with Monday as first day and in Spanish
        flatpickr("input.flatpickr-date", {
            dateFormat: "d-m-Y",
            locale: "es"
        });

        // If time fields are also used:
        flatpickr("input.flatpickr-time", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            time_24hr: true,
            minuteIncrement: 1,
            defaultDate: null,

            onOpen(selectedDates, dateStr, instance) {
              if (autofill && !dateStr) {
                instance.setDate(new Date(), false);
              }
            }
        });

    });
    
    (function () {
      function setHeaderVar(){
        const header = document.querySelector('header');
        if (!header) return;
        const h = header.offsetHeight;
        document.documentElement.style.setProperty('--hdr', h + 'px');
      }
      setHeaderVar();
      window.addEventListener('resize', setHeaderVar);
      window.addEventListener('load', setHeaderVar);
    })();
</script>

</html>