<!-- File: app/templates/admin/admin_dashboard.html -->
<!-- Author: Laura Sanz Lobo -->
{% extends "main/base.html" %}

{% block header %}Panel de Administración{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/admin_dashboard.css') }}">
{% endblock %}

{% block content %}
<main class="main-container">
    <div class="admin-box">
        <div class="button-container">
            <a href="{{ url_for('admin.user_list') }}" class="btn">Gestión de Usuarios</a>
            <a href="{{ url_for('admin.admin_holidays') }}" class="btn">Gestionar Festivos</a>
            <a href="{{ url_for('admin.admin_sites') }}" class="btn">Gestionar Obras</a>
            <a href="{{ url_for('admin.manage_hours') }}" class="btn">Gestionar Horario</a>
            <a href="{{ url_for('admin.admin_email') }}" class="btn">Configuración de Correo</a>
        </div>
    </div>
</main>
{% endblock %}