<!-- File: app/templates/admin/create_user.html -->
<!-- Author: Laura Sanz Lobo -->
{% extends "main/base.html" %}

{% block header %}Crear Nuevo Usuario{% endblock %}

{% block extra_styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/create_user.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block content %}
  <div class="form-container">
    <!-- Flash Messages -->
    {% block flash_messages %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    {% endblock %}
    <h2>Introduce los datos del nuevo usuario</h2>
    <form action="{{ url_for('admin.create_user') }}" method="POST" enctype="multipart/form-data" autocomplete="off">
        <!-- Username -->
        <div class="input-group">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="username" placeholder="Usuario" required>
        </div>
        
        <!-- Password -->
        <div class="input-group">
            <i class="fa-solid fa-lock"></i>
            <input type="text" name="password" placeholder="Contraseña" required>
        </div>
        
        <!-- Full Name -->
        <div class="input-group">
            <i class="fa-solid fa-id-card"></i>
            <input type="text" name="full_name" placeholder="Nombre completo" required>
        </div>
        
        <!-- National ID -->
        <div class="input-group">
            <i class="fa-solid fa-address-card"></i>
            <input type="text" name="national_id" placeholder="DNI" required>
        </div>

        <!-- Worker Type -->
        <div class="select-group">
            <i class="fa-solid fa-briefcase"></i>
            <select name="worker_type" required>
                <option value="" disabled selected>Tipo de trabajador</option>
                <option value="office">Oficina</option>
                <option value="part_time">Media jornada</option>
                <option value="site">Obra</option>
            </select>
        </div>
        
        <!-- Start Date -->
        <div class="input-group">
          <i class="fa-solid fa-calendar-day"></i>
          <input type="text" name="start_date" class="flatpickr-date" value=""
                 placeholder="Fecha de alta" required>
        </div>

        <!-- End Date -->
        <div class="input-group">
          <i class="fa-solid fa-calendar-day"></i>
          <input type="text" name="end_date" class="flatpickr-date" value=""
                 placeholder="Fecha de baja (opcional)">
        </div>
        
        <!-- Signature -->
        <div class="input-group">
            <i class="fa-solid fa-file-signature"></i>
            <input type="file" name="signature">
        </div>
        
        <!-- Administrator -->
        <div class="checkbox-group">
            <input type="checkbox" name="is_admin" id="is_admin">
            <label for="is_admin">Administrador</label>
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn">Crear Usuario</button>
    </form>
</div>
{% endblock %}